= f.simple_fields_for :profile do |p|
  = p.input :dob, :as => :date, :label => 'Date of Birth', :start_year => Date.today.year - 90, :end_year => Date.today.year - 12, :discard_day => true, :order => [:month, :year]
  = p.input :gender, :collection => ["Male", "Female"]
  = p.input :hair_color, :collection => User::HAIRCOLORS, :as => :radio_buttons
  = p.input :nationality, :collection => User::NATIONALITY, :as => :select
  = p.input :education, :collection => User::EDUCATION, :as => :select
  = p.input :religion, :collection => User::RELIGION, :as => :select
  = p.input :country, :as => :country
  = p.input :state_or_providence, :collection => [], :as => :select, :input_html => { :data => (params[:user][:profile_attributes][:state_or_providence] rescue "") }
  = p.input :city, :as => :select, :collection => []
  = p.input :about_me, :as => :text
