- provide(:title, 'Edit My Profile')

- provide :js do
  = javascript_include_tag  'providences'

= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f|

  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = render :partial => 'profile', :locals => {:f => f}
  .actions
    = f.submit 'Save'