%header.navbar.blue.blue2.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand.pull-left{:href => "/"}
        %i.icon-white.icon-comments
        Whatever Site
      %ul.nav.pull-left
        %li.active
          %a{:href => "#"}
            %i.icon-white.icon-home
            Dashboard
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-white.icon-star
            Features
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Navbar Colours
            %li
              %a{:href => "#"} Smooth Animations
            %li
              %a{:href => "#"} .sharp Class
            %li
              %a{:href => "#"} Canvas Charts
            %li
              %a{:href => "#"} Tasks Mini Module
            %li
              %a{:href => "#"} Messages
            %li
              %a{:href => "#"} Precoded Functions

      %ul.nav.pull-right
        - if signed_in?
          %li
            %a{:href => "#", :rel => "tooltip"}
              %i.icon-heart
              %span.label.label-info= "#{current_user.interested_users.count} Interests"
          %li
            %a{:href => "#{messages_path(current_user)}", :rel => "tooltip"}
              %i.icon-envelope
              %span.label.label-important= "#{current_user.messages.count} Messages"
          %li
            %a{"data-original-title" => "User Page", :href => "#", :rel => "tooltip"}
              %i.icon-white.icon-user
              nanu
          %li
            %a{"data-original-title" => "Settings", :href => "#", :rel => "tooltip"}
              %i.icon-white.icon-wrench
          %li= link_to "Sign out", signout_path, method: :delete
        - else
          %li= link_to "Sign in", signin_path
