!!!
%html
  %head
    %title= "#{full_title(yield(:title))}"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield(:css)
    = yield(:js)
    = csrf_meta_tag
  %body
    .container
      = render 'layouts/header'
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value
      %section.round
        = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
